<div class="ms-fontSize-16">
  <mat-accordion>
    <mat-expansion-panel #filterPanel (opened)="changePanelState()" (closed)="changePanelState()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
        <mat-panel-description>
          Click to {{ filterPanel.expanded ? "Close" : "Expand" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table width="100%" style="width:100%">
        <tr>
          <td>
            <div *ngIf="!locationTab; else useLocation">
              <app-equipment-types-list (equipmentTypesChange)="checkEquipmentTypes($event)"></app-equipment-types-list>
            </div>
            <ng-template #useLocation>
              <app-room-states-list #statesList (statesChange)="checkStates($event)">
              </app-room-states-list>
              <app-room-cities-list #citiesList (citiesChange)="checkCities($event)">
              </app-room-cities-list>
              <app-room-offices-list #officesList (officesChange)="checkOffices($event)">
              </app-room-offices-list>
              <app-room-floors-list #floorsList (floorsChange)="checkFloors($event)">
              </app-room-floors-list>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td>
            <app-resource-status (resourceStatusChange)="checkResourceStatus($event)"></app-resource-status>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  <table width="100%" style="width:100%">
    <tr>
      <td>
        <button mat-raised-button color="primary" (click)="search()">
          Search
        </button>
      </td>
    </tr>
  </table>
  <div class="spinner-container" *ngIf="(loading$ | async) as loadingDataSource; else loadedDataSource">
  </div>
  <ng-template #loadedDataSource>
    <div *ngIf="this.dataSource.data.length > 0">
      <table class="table-responsive" #materialTable mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container matColumnDef="{{ column.value }}" *ngFor="let column of headersToDisplay">
          <ng-container *ngIf="column.value === 'select'; else approvalRequired">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox #roomCheckboxes (click)="$event.stopPropagation()" (change)="$event ? selectionEquipment.toggle(row) : null" [checked]="selectionEquipment.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-template #approvalRequired>
            <ng-container *ngIf="column.value === 'restrictionImage'; else roomAvailable">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <img src="../../../assets/images/{{ element.restrictionImage }}" />
              </td>
            </ng-container>
          </ng-template>
          <ng-template #roomAvailable>
            <ng-container *ngIf="column.value === 'availabilityImage'; else notSelect">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <img src="../../../assets/images/{{ element.availabilityImage }}" />
              </td>
            </ng-container>
          </ng-template>
          <ng-template #notSelect>
            <th mat-header-cell *matHeaderCellDef>{{ column.display }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element[column.value] }}
            </td>
          </ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="table-checkbox-element-row"></tr>
      </table>
      <div>
        <button mat-raised-button color="primary" (click)="addToInvite()">
          Add to Invite
        </button>
      </div>
    </div>
  </ng-template>
</div>
<app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>