.navComponentBanner {
  background-color: rgb(67, 71, 67);
  color: white;
  text-align: center;
  height: 1.5em;
}

.footer-sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  // gap: .75em;

  .leftchart {
    min-width: 400px;
    margin: 2px;
    flex: 75%;
  }

  .rightchart {
    min-width: 150px;
    flex: 25%;
  }

}
